name: Deploy to Server

on:
  push:
    branches:
      - main # Deploy otomatis saat push ke branch `main`

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH Connection
        env:
          SSH_PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          SERVER_USER: ${{ secrets.USER }}
          SERVER_HOST: ${{ secrets.HOST }}
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          ssh-keyscan -H $SERVER_HOST >> ~/.ssh/known_hosts

      - name: Test SSH Connection
        env:
          SERVER_USER: ${{ secrets.USER }}
          SERVER_HOST: ${{ secrets.HOST }}
        run: ssh $SERVER_USER@$SERVER_HOST "echo 'SSH connection successful!'"
